<h1>商品修改</h1>

<%= form_with(model: @product, url: shop_product_path, method: 'PATCH') do |f| %>
<div>
<%= f.label :product_name ,"產品名稱"%>
<%= f.text_field :product_name %>
</div>

<div>
<%= f.label :price ,"價錢"%>
<%= f.text_field :price ,min: 1%>
</div>

<div>
<%= f.label :quantity ,"數量"%>
<%= f.number_field :quantity , min: 1 %>
</div>

<div>
<%= f.label :note ,"產品備註"%>
<%= f.text_area :note %>
</div>

<%= f.submit %>
<% end %>