<h1>商品總覽</h1>

<%= link_to "新增商品" , new_shop_product_path %>

<table>
  <% @products.each do |product|%>
    <tr>
      <td>商品名稱</td>
      <td>商品價錢</td>
      <td>商品數量</td>
      <td></td>

    </tr>
    <tr>
      <td><%= product.product_name %></td>
      <td><%= product.price%></td>
      <td><%= product.quantity%></td>
      <td>
        <%= link_to "編輯" , edit_shop_product_path(product.id) %>
        <%= link_to "刪除" , shop_product_path(product.id) ,method:"DELETE" ,data:{confirm: "確認刪除？"}%>
      </td>
    </tr>


  <% end %>
</table>
